@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --marrom-1:#422B06;
    --branco: #fff;
    --laranja: #C27E11;
    --marrom-2: #42331A;
    --marrom-3: #8F5D0D;
}

@font-face {
    font-family: '28Days';
    src: url('../font/28_days_later/28\ Days\ Later.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: '28Days';
}

header {
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--laranja);
}

article {
    width: 70%;
    height: 550px auto;
    display: block;
    float: left;
    background-color: var(--marrom-3);
}
#conceitoimg {
    width: 250px;
    height: 250px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #00000080;
}
.conceito {
    width: 90%;
    height: 280px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 13px;
    box-shadow: 1px 1px 7px 1px #00000080;
    background-color: #a27122;
}
.agrupamento-coluna {
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.extra {
    width: 43.5%;
    height: 160px auto;
    background-color: #a27122;
    border-radius: 13px;
    box-shadow: 1px 1px 7px 1px #00000080;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 5%;
    float: left;
}

.extra img {
    width: 140px;
    height: 140px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #00000080;
}
.extra p {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#extra1 {
    margin-left: 5%;
    margin-right: 1.5%;
}
#extra2 {
    margin-right: 5%;
    margin-left: 1.5%;
}

aside {
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    background-color: var(--marrom-1);
}

footer {
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--laranja);
}