@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {

    --marrom-1: #422B06;
    --bege: #CCAF84;
    --laranja: #C27E11;
    --marrom-2: #42331A;
    --marrom-3: #8F5D0D;
}

@font-face {
    font-family: '28Days';
    src: url('../font/28_days_later/28\ Days\ Later.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', '28Days';
    color: white;
}

header {
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--laranja);
}

article {
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--marrom-3    );
}

aside {
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--marrom-1);
}
.imgs {
   display: block;
   width: 160px;
   height: 120px;
   float: left;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;



}
.busca{
    text-align: center;
    padding-top: 15px;
}
footer {
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--laranja);
}
